body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;

}
header {

    background-color:#2d25a0;
}
.navbar {
    padding: 1% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
 .navul {

    display: flex;
    color: white;

 }
 .navul li {

    list-style: none;
    padding: 0px 20px;
 }

 .head-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

 }

 .half-content  {

    width: 50%;
    padding: 30px;
    margin: 20px;
    font-size:30px ;
    font-weight: bolder;
    color: white;
    margin-left: 12%;


 }
 .headimg {

    width: 40%;
    margin-right: 12%;
 }

 .headimg img {

    width: 100%;
 }


 .button {

        font-size: 20px;
        padding: 15px 50px;
        border: none;
        letter-spacing: 1px;
        color: white;
        background-color:#e02c6d;
 }

 .main-container{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}


.box-cart {
    width: 80%;
    box-shadow: 5px 7px 25px 15px #dfdfdf;
    margin: 10px;
    padding: 20px;
}

.box-cart img {

    width: 100%;
}

.bottom-container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

}

.first-half-container{

    width: 50%;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px ;

}

.first-half-container h1 {

    font-weight: bolder;
    font-size: 40px;
}



.second-half-container {
    width: 50%;

}

.second-half-container img {
    width: 100%;
}

.bottom-part {

    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    align-items: center;

}

.bottom-part p {

    font-family: 30px;
    font-weight: bold;
}

.icons {
    
    margin: 10px;

}

.fa-stack { color: rgb(240, 240, 240);
            font-size: 15px; 

}
.fa-instagram, .fa-twitter, .fa-youtube, .fa-basketball-ball { color: rgb(131, 131, 131);}

i { vertical-align: middle; }

@media only screen and (max-width: 375px) {

    body{

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Sen', sans-serif;
    
    }

    .navbar{
        width: 8px;
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-left: 5px;
    }
     li {
         font-size: 10px;
     }

    .navul {

        padding: 5px;
        margin: 0px;
    }
     
    nav .button {
    
            font-size: 10px;
            border-radius: 10px;
     }

    
    .head-content {

        width: 370px;
    }
    
    .half-content h1 {

        font-size: 20px;
    }

  .headimg img {

    width: 140px;
  }
  .button{

    font-size: 10px;
    padding: 5px 10px;
  }
  .main-container {

    width: 300px;
    margin-left: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;

  }
  .box-cart {

    width: 300px;
    margin: 0px;
    padding: 20px;

  }

  .bottom-container {

    width: 300px;
    padding: 0px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .first-half-container{

    width: 300px;
    margin-left: 50px;
  }
  .bottom-container p {

      margin: 0px;
      padding: 0px;
      
      text-align: justify;
  }

  .second-half-container {

    width: 120%;
    margin-top: 30px;
    padding-left: 50px;
  }

  .bottom-part{

    width: 300px;
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
    padding-top: 30px;
    align-items: center;
  }
  .bottom-part img {

    width: 100%;
  }

  }

